@font-face {
    font-family: gothicSchool;
    src: url('./assets/gs.ttf');
}

@font-face {
    font-family: gothicTime;
    src: url('./assets/gt.ttf');
}

* {
    user-select: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.gothic {
    font-family: gothicSchool;
}

.vw {
    height: 100vh;
    width: 100vw;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background-image: url("./assets/t2.svg");
    background-size: cover;
    background-position: 70% 100%;
}

.h4-v1 {
    font-family: gothicSchool;
    font-size: 10rem;
    text-align: center;
    color: #6a3808;
    text-shadow: white 2px 5px 19px;
    cursor: pointer;
}

@keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
}

.group-hidden {
    display: none;
}

.map-button {
    width: 10rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
}

.ant-modal-footer>div>button:first-child,
.ant-modal-close {
    display: none;
}

.heart {
    width: 55%;
}

@media screen and (max-width: 960px) {
    .h4-v1 {
        font-size: 6rem;
    }

    .heart {
        width: 65%;
    }

    .map-button {
        width: 6.5rem;
        top: 1rem;
        right: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .h4-v1 {
        font-size: 5rem;
    }

    .heart {
        width: 100%;
    }

    .map-button {
        width: 5rem;
    }
}

.cls-1,
.cls-12,
.cls-13,
.cls-17,
.cls-2,
.cls-25,
.cls-27,
.cls-29,
.cls-30,
.cls-7 {
    fill: none;
}

.cls-2,
.cls-25,
.cls-27,
.cls-29,
.cls-3,
.cls-30,
.cls-7 {
    stroke: #000;
}

.cls-12,
.cls-13,
.cls-17,
.cls-2,
.cls-25,
.cls-29,
.cls-3,
.cls-30,
.cls-7 {
    stroke-miterlimit: 10;
}

.cls-3 {
    fill: transparent;
}

.cls-26,
.cls-4 {
    fill: #fff;
}

.cls-3 {
    stroke-width: 5px;
}

.cls-5 {
    font-size: 12px;
    font-family: ComicSansMS-Italic, Comic Sans MS;
    font-style: italic;
}

.cls-6 {
    clip-path: url(#clip-path);
}

.cls-29,
.cls-30,
.cls-7 {
    stroke-width: 10px;
}

.cls-7 {
    stroke-dasharray: 12;
}

.cls-8 {
    fill: #06c;
}

.cls-9 {
    fill: #090;
    opacity: 0.7;
}

.cls-10 {
    clip-path: url(#clip-path-2);
}

.cls-11 {
    fill: #009eff;
}

.cls-12,
.cls-13 {
    stroke: #020202;
}

.cls-12 {
    stroke-width: 1.2px;
}

.cls-13 {
    stroke-width: 0.2px;
}

.cls-14 {
    fill: #f9f9f9;
}

.cls-15 {
    clip-path: url(#clip-path-5);
}

.cls-16 {
    clip-path: url(#clip-path-6);
}

.cls-17 {
    stroke: #fff;
    stroke-width: 14px;
}

.cls-18 {
    opacity: 0.75;
}

.cls-19 {
    clip-path: url(#clip-path-7);
}

.cls-20 {
    font-size: 14.01px;
    font-family: ComicSansMS-Bold, Comic Sans MS;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.cls-21 {
    letter-spacing: 0.2em;
}

.cls-22 {
    letter-spacing: 0em;
}

.cls-23 {
    clip-path: url(#clip-path-11);
}

.cls-24 {
    clip-path: url(#clip-path-12);
}

.cls-25 {
    stroke-width: 3px;
}

.cls-26 {
    fill-rule: evenodd;
}

.cls-27 {
    stroke-linejoin: round;
    stroke-width: 4.2px;
}

.cls-28 {
    font-size: 4.8px;
    font-family: ComicSansMS, Comic Sans MS;
}

.cls-30 {
    stroke-dasharray: 11.67 11.67;
}

.cls-31 {
    clip-path: url(#clip-path-15);
}

.cls-32 {
    opacity: 0.73;
}

.cls-33 {
    fill: #6c6cef;
}

.cls-34 {
    fill: #3939ff;
}

.cls-35 {
    fill: #0066d0;
}

#граница-1,
#граница-2,
#контур-2,
#граница-3,
#граница-4,
#шраница,
#граница-5 {
    fill: white;
}